html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
}


/* Base */


/* Repetitivas */



/* Header */
.img-fondo {
    background-image: url(imagenes/fondo-portfolio.gif);
    background-attachment:fixed;
}

/* nav */
.nav-bar {
    background-color:#292d3ef6;
    position: fixed;
    width: 100%;
}


/* contenido header */



/* iconos */

.iconos {
    width: 90px;
    height: 70px;
    background-repeat: no-repeat;
}

.logo-principal {
    width: 70px;
    height: 70px;
}

.bootstrap {
    width: 70px;
    height: 70px;

}







